{% extends "pageBase.twig" %}
{% block metaDescription %}Gesucht und nicht gefunden. Seite nicht auf mit-marion-de{% endblock %}
{% block title %}Seite nicht auf - mit-marion.de{% endblock %}
{% block additionalStyleSheets %}
    <link rel="stylesheet" href="/_assets/css/error.css"/>
{% endblock %}
{% block content %}
    <main>
        <section class="errorPage">
            <a href="/">
                <img class="logo" src="/_assets/images/logo.svg" alt="Logo mit-marion.de" loading="lazy" decoding="auto"/>
            </a>
            <p>
                Uuups... Tippfehler in der Internetadresse? Fehlerhafter Link? Veralteter Favorit?<br/>
                Kann ja mal passieren ;-)
            </p>
            <p>
                Klicke <a href="/">hier</a>, um auf die Startseite zu gelangen.
            </p>
        </section>
    </main>
{% endblock %}
