{% extends "pageBase.twig" %}
{% block title %}mit-marion-de{% endblock %}
{% block additionalStyleSheets %}
    <link rel="stylesheet" href="/_assets/css/error.css"/>
{% endblock %}
{% block content %}
<section class="errorPage">
    <a href="/">
        <img class="logo" src="/_assets/images/logo.svg" alt="Logo mit-marion.de"/>
    </a>
    <p>
        Uuups... die Technik scheint gerade nicht so fit zu sein.
    </p>
    <p>
        Klicke <a href="/">hier</a>, um wieder auf die Startseite zu gelangen.
    </p>
</section>
{% endblock %}
