{% extends "pageBase.twig" %}
{% block title %}mit-marion-de{% endblock %}
{% block content %}
<section style="text-align: center;">
    <img class="logo" src="/_assets/images/logo.svg" alt="Logo mit-marion.de"/>
    <p style="color: #EFFFEF;">Die Seite befindet sich noch im Aufbau!!!</p>
    <br /><br /><br /><br /><br /><br />
    <a href="/die-fazien-fetzen/" style="color: #306030">die Faszien fetzen</a>
</section>
{% endblock %}
