<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>mit-marion-de</title>
    <link rel="stylesheet" href="/_assets/css/main.css"/>
    <script async="async" src='/_assets/js/main.js'></script>
</head>
<body>
<div class="content">
<section style="text-align: center;">
    <img class="logo" src="/_assets/images/logo.svg" alt="Logo mit-marion.de"/>
    <p style="color: #EFFFEF;">Die Seite befindet sich noch im Aufbau!</p>
    <br /><br /><br /><br /><br /><br />
    <a href="/die-fazien-fetzen/" style="color: #306030">die Faszien fetzen</a>
</section>
</div>
</body>
</html>
