{% extends "pageBase.twig" %}
{% block metaDescription %}{{ htmlHead.metaDescription }}{% endblock %}
{% block title %}{{ htmlHead.title }}{% endblock %}
{% block additionalStyleSheets %}
    <link rel="stylesheet" href="/_assets/css/generalText.css"/>
{% endblock %}
{% block content %}
    {{ include('include/header.incl.twig') }}
    <main>
        <article class="generalText">
            <h1>Du interessierst dich für meine Kurse? Wunderbar!</h1>
            <p>Ein kleiner Hinweis noch:
                <br />aufgrund von Corona habe natürlich auch ich meine Kurse aussetzen müssen.</p>
            <p>Aber es geht zum Glück langsam wieder los.</p>
        </article>
        <article class="generalText">
            <p>Aktueller Hinweis: die Kurse im November müssen wegen der Corona Bestimmungen leider entfallen.</p>
            <h1>Hallenbad Delbrück</h1>
            <p>dienstags, 18:00 - 19:00 Uhr</p>
            <p>Nordring 1, 33129 Delbrück
                <br /><a href="https://goo.gl/maps/X5LcduQJ9oi5mcmM6"
                         target="_blank"
                         referrerpolicy="no-referrer"
                         rel="noreferrer">auf GoogleMaps öffnen</a></p>
        </article>
    </main>
{% endblock %}
