<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/_assets/css/main.css"/>
    {% block additionalStyleSheets %}{% endblock %}
    <script async="async" src='/_assets/js/main.js'></script>
    {% block additionalScripts %}{% endblock %}
</head>
<body>
<div class="content">
    {% block content %}{% endblock %}
    {% block cookieMessage %}
        <div class="cookieMessage hidden">
            <p>Nur noch schnell die Cookies...</p>
            <p>Meine Website verwendet nur einen Cookie für die Steuerung dieses Hinweises!</p>
            <p>Allerdings schütze ich das Kontaktformular mit einem Captcha, das nicht ohne auskommt.</p>
            <p>Weitere Infos findest du in der Datenschutzerklärung unter <a href="/impressum/#cookies" target="_blank">Cookies</a> und <a href="/impressum/#captcha" target="_blank">Captcha</a>.</p>
            <a class="closeMessage" title="verstanden">verstanden</a>
        </div>
    {% endblock %}
</div>
</body>
</html>
