{% extends "pageBase.twig" %}
{% block metaDescription %}{{ htmlHead.metaDescription }}{% endblock %}
{% block title %}{{ htmlHead.title }}{% endblock %}
{% block additionalStyleSheets %}
    <link rel="stylesheet" href="/_assets/css/generalText.css"/>
{% endblock %}
{% block content %}
    {{ include('include/header.incl.twig') }}
    <main>
        <article class="generalText" id="über-mich">
            <h1>Hallo, ich bin Marion!</h1>
            <p>... und ich freue mich, dass Du auf meiner Seite "gelandet" bist!</p>
            <p>An dieser Stelle kurze Info's zu mir:</p>
            <p>Ich bin schon immer sportbegeistert und finde es toll, sich in der Natur zu bewegen!<br/>
                Daher liegt mein Schwerpunkt auf "Outdoor".<br/>
                Ich finde es klasse, welche Möglichkeiten uns die Natur bietet, um uns fit zu halten.</p>
            <p>Mein Tätigkeitsbereich ist die Funktions-/ und Fitnessgymnastik, Rückenfit, Ganzkörpertraining und an
                erster Stelle der Outdoor-Sport.</p>
            <p>Das nötige Fachwissen dazu gab's in Fortbildungen wie z. B. "Bauch, Beine, Po", "Spannungsfeld Rücken",
                "Einführung in das Faszientraining" und meine Favorit's "Workout ohne Geräte" und "Outdoorsport von
                A-Z".</p>
            <p>Gestartet bin ich mit den Ausbildungen zur "Übungsleiterin C, sportartenübergreifend" und der
                "Übungsleiterin B, Sport in der Rehabilitation, Profil Orthopädie".</p>
            <p>Einen kleinen Einblick zu meiner "Denke", wie ich "ticke", zu meinen Ideen und was ich mir wünsche,
                findest Du hinter den einzelnen Stories. Viel Spaß beim Entdecken!</p>
            <p>Und jetzt freue ich mich riesig, mit dir / mit euch in meinem Kurs zu starten!</p>
            <p>"Auf geht’s"...</p>
        </article>
        <article class="generalText" id="meine-qualifikationen">
            <h1>Meine Qualifikationen</h1>
            <h2>Tätigkeitsfeld</h2>
            <ul>
                <li>Übungsleiterin Sport im Park</li>
                <li>Übungsleiterin Funktionsgymnastik</li>
                <li>Übungsleiterin Rückenfit</li>
                <li>Übungsleiterin Fitnessgymnastik</li>
                <li>Übungsleiterin Outdoor</li>
            </ul>
            <h2>Fortbildungen</h2>
            <ul>
                <li>2025 Zirkeltraining neu gedacht<br/>KSB Gütersloh</li>
                <li>2025 Füße - Das Fundament auf dem wir stehen<br/>KSB Soest</li>
                <li>2024 Alltagsfitness für Hüfte, Knie & Co.<br/>KSB Soest</li>
                <li>2024 Rückenfitness<br/>KSB Soest</li>
                <li>2024 Stressbewältigung durch Sport<br/>KSB Soest</li>
                <li>2023 Erste Hilfe bei Sportverletzungen (inkl. Erste Hilfe Schein vom DRK)<br/>KSB Gütersloh</li>
                <li>2023 Sportpraxis bei Long Covid/Post Covid<br/>KSB Soest</li>
                <li>2021 Koordinative Bewegungsaufgaben für klein &amp; groß<br/>Digital - Stadtsportbund Bielefeld</li>
                <li>2021 Rücken- und Faszientraining im Breitensport<br/>KSB Soest</li>
                <li>2021 Faszientraining im Rehasport<br/>KSB Paderborn</li>
                <li>2021 Funtionelles Training - einfach und überall<br/>Digital - Sportbund Bielefeld</li>
                <li>2021 Locker lassen - gezielte Übungen für Schulter, Nacken, oberer Rücken<br/>Digital - KSB Gütersloh</li>
                <li>2021 Mehr Ernährungskompetenz im Sport<br/>Digital - Sportbildungswerk NRW, Hagen</li>
                <li>2019 Bauch, Beine, Po<br/>KSB Gütersloh</li>
                <li>2019 Spannungsfeld Rücken<br/>KSB Paderborn</li>
                <li>2018 Fit im Kopf und flott in den Beinen<br/>Sportbildungswerk Lippe, Detmold</li>
                <li>2018 Outdoorsport von A bis Z<br/>Sportbund Bielefeld</li>
                <li>2018 Workout ohne Geräte<br/>KSB Gütersloh</li>
                <li>2018 Einführung in das Faszientraining<br/>KSB Gütersloh</li>
            </ul>
            <h2>Ausbildungen</h2>
            <ul>
                <li>2019 Übungsleiter B Ausbildung: Sport in der Rehabilitation, Profil Orthopädie<br/>KSB Gütersloh und
                    KSB Soest
                </li>
                <li>2017 Übungsleiter C Ausbildung<br/>KSB Paderborn</li>
            </ul>
        </article>
    </main>
{% endblock %}
