<header class="container-content">
    <a href="/"><img class="logo" src="/_assets/images/logo.svg" alt="Logo mit-marion.de"/></a>
    <nav class="corporate closed jsFlyoutWrapper jsFlyoutHoverToggle">
        <img class="burger jsFlyoutTouchToggle jsFlyoutHoverToggle" src="/_assets/images/burger-menu.svg"
             alt="Menü Icon"/>
        <ul class="flyout jsFlyoutHoverToggle">
            <li><a href="#bar">meine Qualifikationen</a></li>
            <li class="current"><a href="/kontakt/">Kontakt</a></li>
            <li><a href="#bar">über mich</a></li>
            <li><a href="#bar">bar</a></li>
            <li><a href="#bar">bar und noch viel viel mehr und noch viel viel mehr</a></li>
            <li><a href="#bar">bar</a></li>
            <li><a href="#bar">bar</a></li>
        </ul>
    </nav>
    {% block storyFlyout %}{% endblock %}
</header>
