<header class="container-content">
    <a href="/"><img class="logo" src="/_assets/images/logo.svg" alt="Logo mit-marion.de"/></a>
    <nav class="corporate closed jsFlyoutWrapper jsFlyoutHoverToggle">
        <img class="burger jsFlyoutTouchToggle jsFlyoutHoverToggle" src="/_assets/images/burger-menu.svg"
             alt="Menü Icon"/>
        <ul class="flyout jsFlyoutHoverToggle">
            {% for corporateLink in corporateFlyout %}
                <li class="current"><a href="{{ corporateLink.href }}">{{ corporateLink.caption }}</a></li>
            {% endfor %}
        </ul>
    </nav>
    {% block storyFlyout %}{% endblock %}
</header>
