{% extends "pageBase.twig" %}
{% block title %}mit-marion-de{% endblock %}
{% block content %}
    {{ include('include/header.incl.twig') }}
    <form action="{{ form.action }}" method="{{ form.method }}">

    </form>
    <pre>
        {{ dump() }}
    </pre>
{% endblock %}
