{% extends "pageBase.twig" %}
{% block metaDescription %}{{ htmlHead.metaDescription }}{% endblock %}
{% block title %}{{ htmlHead.title }}{% endblock %}
{% block additionalStyleSheets %}
    <link rel="stylesheet" href="/_assets/css/thankYou.css"/>
{% endblock %}
{% block content %}
    {{ include('include/header.incl.twig') }}
    <main>
        <article class="thankYou">
            <p>
                Vielen Dank für die Nachricht.<br/>
                Ich werde mich in Kürze bei dir melden.
            </p>
        </article>
    </main>
{% endblock %}
