.container-content {
    margin: 0;
}

@media only screen and (min-device-width: 40em) {
    .container-content {
        margin-right: 10%;
        margin-left: 10%;
    }
}

.logo {
    width: 12em;
}

.burger-menu {
    width: 3em;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "logo burger"
    "breadcrumb breadcrumb";
}

header .logo {
    grid-area: logo;
}

header .burger-menu {
    grid-area: burger;
    justify-self: end;
}

header .breadcrumb {
    grid-area: breadcrumb;
}

.breadcrumb {
    height: 1.1em;
    background-image: url("./images/slash.svg");
    background-repeat: no-repeat;
    background-position: 2.7em 0;
    background-size: auto 1.1em;
    padding-left: 3.5em;
}

.color-cd-dark {
    background-color: #336633;
}

.color-cd-light {
    background-color: #EFFFEF;
}
