* {
    font-family: Arial, sans-serif;
}

.member .mainquote {
    font-size: 2.5em;
}

body,
.container-content {
    margin: 0;
}

header.container-content {
    margin: 0.5em 0.5em 0 0.5em;
}

article.container-content {
    margin: 0.5em 0 0 0;
}

section.marion,
.member .subquote {
    margin: 0.5em 0.5em 0 0.5em;
}

.member .mainquote {
    margin-right: 0.2em;
}

@media only screen and (min-device-width: 40em) {
    header.container-content,
    article.container-content,
    nav.container-content
    {
        margin-right: 20%;
        margin-left: 20%;
    }
}

.logo {
    height: 1.5em;
}

.burger-menu {
    height: 2em;
}

.member .mainquote {
    width: 66%;
    text-align: right;
}

.button {
    display: block;
    height: 3em;
    width: 80%;
    margin: 0.5em auto 0.5em auto;
    padding-top: 1em;
    text-align: center;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "logo burger"
    "breadcrumb breadcrumb";
}

header .logo {
    grid-area: logo;
}

header .burger-menu {
    grid-area: burger;
    justify-self: end;
}

header .breadcrumb {
    grid-area: breadcrumb;
}

section.member {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "image"
    "subquote";
}

section.member .image {
    grid-area: image;
}

section.member .subquote {
    grid-area: subquote;
}

.breadcrumb {
    height: 1.1em;
    background-image: url("./images/slash.svg");
    background-repeat: no-repeat;
    background-position: 2.7em 0;
    background-size: auto 1.1em;
    padding-left: 3.5em;
}

.member {
    position: relative;
}

.member .mainquote {
    position: absolute;
    top: 0;
    right: 0;
}

.member .image {
    width: 100%;
}

.member .mainquote {
    color: #EFFFEF;
}

.marion,
.member {
    color: #336633;
}

.button,
.button:link,
.button:active,
.button:hover,
.button:visited
{
    color: #EFFFEF;
    text-decoration: none;
}

body,
.button {
    background-color: #336633;
}

article {
    background-color: #EFFFEF;
}
