form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "preName"
    "surName"
    "eMail"
    "customerMessage"
    "dataPrivacy"
    "captcha"
    "submit";
}

.preName {
    grid-area: preName;
}

.surName {
    grid-area: surName;
}

.eMail {
    grid-area: eMail;
}

.customerMessage {
    grid-area: customerMessage;
}

.dataPrivacy {
    grid-area: dataPrivacy;
}

.captcha {
    grid-area: captcha;
}

.submit {
    grid-area: submit;
}

.formElementGroup {
    padding: 1rem;
}

.formElementGroup > * {
    display: block;
    margin-bottom: 0.5rem;
}

.contactIntro {
    padding-top: 2rem;
}

.contactIntro p,
.formElementGroup {
    margin-bottom: 1rem;
}

.errorList {
    margin-left: 1rem;
}

textarea,
input {
    margin: 0;
    border: none;
    font-size: 1rem;
}

textarea,
input:not([type="checkbox"]) {
    width: 100%;
}

@media only screen and (min-device-width: 800px) {
    form {
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 1rem;
        grid-column-gap: 1rem;
        grid-template-areas:
        "preName customerMessage"
        "surName customerMessage"
        "eMail customerMessage"
        "dataPrivacy dataPrivacy"
        "captcha captcha"
        "submit submit";
    }

    .formElementGroup {
        margin-bottom: 0;
    }
}
