form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "preName customerMessage"
    "surName customerMessage"
    "eMail customerMessage"
    "dataPrivacy dataPrivacy"
    "captcha captcha"
    "submit submit";
}


.preName {
    grid-area: preName;
}
.surName {
    grid-area: surName;
}
.eMail {
    grid-area: eMail;
}
.customerMessage {
    grid-area: customerMessage;
}
.dataPrivacy {
    grid-area: dataPrivacy;
}
.captcha {
    grid-area: captcha;
}
.submit {
    grid-area: submit;
}

.preName,
.surName,
.eMail,
.customerMessage,
.dataPrivacy,
.captcha,
.submit{
    display: block;
}
