.generalText {
    padding: 2rem;
}

.generalText h1,
.generalText h2,
.generalText p,
.generalText li
{
    margin-bottom: 1rem;
}
.generalText p,
.generalText li
{
    line-height: 1.5rem;
}

.generalText ul {
    margin-left: 2rem;
}

.generalText .label {
    margin-bottom: -2rem;
}

.decrypt span:nth-child(even) {
    display: none;
}
