.generalText {
    padding: 2rem;
}

.generalText * {
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

.generalText ul {
    margin-left: 2rem;
}

.noMarginBottom {
    margin-bottom: 0;
}

.decrypt span:nth-child(even) {
    display: none;
}
