@font-face {
    font-family: 'MitMarionFont';
    src: url("/_assets/css/fonts/file.woff2") format("woff2"),
    url("/_assets/css/fonts/file.woff") format("woff"),
    url("/_assets/css/fonts/file.ttf") format("ttf");
}

* {
    font-family: MitMarionFont, Arial, sans-serif;
}

html {
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

.member .mainquote {
    font-size: 2.5rem;
    line-height: 3.4rem;
}

.marion .mainquote,
.marion .advantages {
    line-height: 1.5rem;
}

.floatLeft {
    float: left;
}

.floatedGroup:after {
    content: "";
    display: table;
    clear: both;
}

body,
blockquote,
.container-content {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

header.container-content {
    padding: 0.5rem 0.5rem 0 0.5rem;
}

article.container-content {
    margin: 0.5rem 0 0 0;
    padding-bottom: 6rem;
}

.marion .mainquote,
.marion ul,
.marion p,
.member .subquote {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.member .subquote {
    margin-top: 1rem;
    margin-bottom: 0;
}

section.marion .mainquote {
    width: 100%;
}

section.marion .photo {
    width: 5rem;
    height: 5rem;
}

section.marion li {
    list-style: square;
    padding-left: 1rem;
    margin-left: 2.1rem;
    margin-bottom: 0.5rem;
}

.logo {
    height: 1.7rem;
}

.burger {
    height: 2rem;
}

nav.stories {
    display: block;
    position: relative;
    max-width: 80%;
}

nav.stories .flyout {
    position: absolute;
    top: 0;
    left: 0;
    list-style: none;
}

.breadcrumb:after {
    position: relative;
}

.breadcrumb:after {
    position: absolute;
    content: "";
    height: 1rem;
    width: 0.7rem;
    margin-left: 0.5rem;
    background-size: 100%;
    background-image: url("/_assets/css/images/arrow-border.svg");
    background-repeat: no-repeat;
    transform: rotate(180deg);
    background-position-y: top;
}

li.breadcrumb:after {
    background-position-y: bottom;
    transform: rotate(0deg);
}

.breadcrumb,
nav .flyout li {
    min-height: 1.1rem;
    background-image: url("/_assets/css/images/slash.svg");
    background-repeat: no-repeat;
    background-position: 0.5rem 0.5rem;
    background-size: auto 1.1rem;
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
}

.breadcrumb,
nav.stories .flyout li {
    padding-left: 4.1rem;
    padding-right: 1.7rem;
    background-position-x: 3.4rem;
}

nav.corporate {
    display: block;
    position: relative;
    width: 100%;
}

nav.corporate .burger {
    display: block;
    margin: 0 0 0 auto;
}

nav.corporate .flyout {
    position: absolute;
    top: 2rem;
    right: 0;
    list-style: none;
}

nav.closed .flyout {
    display: none;
}

nav.open .flyout {
    display: block;
    z-index: 1;
}

.photo {
    object-fit: cover;
    border-radius: 50%;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.member,
.marion {
    position: relative;
    margin-bottom: 2rem;
}

.member::after,
.marion::after {
    content: "";
    position: absolute;
    bottom: -1rem;
    left: 0;
    width: 100%;
    height: 0.2rem;
    opacity: 0.1;
    background-size: 100%;
    background-image: url("/_assets/css/images/hr.svg");
    background-repeat: no-repeat;
}

.member .mainquote {
    min-height: 5rem;
    padding: 0.2rem 0.1rem 3rem 33%;
    text-align: right;
    background-repeat: no-repeat;
    background-size: cover;
}

.button {
    display: block;
    width: 70%;
    margin: 0.5rem auto 0.5rem auto;
    padding: 1rem;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
}

.zap {
    position: relative;
    display: block;
    padding: 1rem;
    box-shadow: 0 0 22px 0 rgba(0, 0, 0, 0.75);
}

.zap.previous {
    text-align: left;
    padding-left: 1.5rem;
}

.zap.next {
    text-align: right;
    padding-right: 1.5rem;
}

.zap.previous::before {
    position: absolute;
    left: 0.4rem;
    top: 1.2rem;
    content: "";
    height: 0.8rem;
    width: 0.8rem;
    background-size: 100%;
    transform: rotate(270deg);
    background-image: url("/_assets/css/images/arrow-border.svg");
    background-repeat: no-repeat;
}

.zap.next::after {
    position: absolute;
    right: 0.4rem;
    top: 1.2rem;
    content: "";
    height: 0.8rem;
    width: 0.8rem;
    background-size: 100%;
    transform: rotate(90deg);
    background-image: url("/_assets/css/images/arrow-border.svg");
    background-repeat: no-repeat;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "logo corporate"
    "stories stories";
}

header .logo {
    grid-area: logo;
}

header nav.corporate {
    grid-area: corporate;
    justify-self: end;
}

header nav.stories {
    grid-area: stories;
}

section.member .subquote {
    grid-area: subquote;
}

.zapper {
    position: fixed;
    width: 100%;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "previous next";
}

.zapper .previous {
    grid-area: previous;
}

.zapper .next {
    grid-area: next;
}

.content {
    position: relative;
}

.breadcrumb,
.member .mainquote {
    color: #EFFFEF;
}

.marion,
.member {
    color: #336633;
}

nav .flyout,
nav .flyout a,
nav .flyout a:link:visited:hover:active,
.button,
.button:link:visited:hover:active,
.zap,
.zap:link:visited:hover:active {
    color: #EFFFEF;
    text-decoration: none;
}

.content,
nav .flyout li.current,
nav .flyout li:hover,
nav.corporate .flyout li:first-child,
.mainquote span,
.button,
.zap {
    background-color: #336633;
}

nav .flyout {
    background-color: rgba(51, 102, 51, 0.9);
    box-shadow: 0 10px 2px 0 rgba(0, 0, 0, 0.75);
}

body,
article {
    background-color: #EFFFEF;
}

@media only screen and (min-device-width: 800px) {
    .content {
        margin-right: 20%;
        margin-left: 20%;
        box-shadow: 0 0 22px 0 rgba(0, 0, 0, 0.75);
    }

    .member::after,
    .marion::after {
        height: 0.4rem;
    }

    section.marion .mainquote {
        width: 50%;
    }

    section.marion .photo {
        width: 10rem;
        height: 10rem;
    }

    .logo {
        height: 3rem;
    }

    .breadcrumb,
    nav.stories .flyout li {
        padding-left: 6.8rem;
        background-position-x: 6rem;
    }

    .burger {
        height: 2rem;
    }

    .logo,
    nav.corporate .burger {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    nav.corporate .flyout {
        top: 3rem;
    }

    .zapper {
        width: 60%;
    }
}
